body,html{
  height:100%;
}

.todo-check {
  width: 2em;
}

.new-todo {
  padding-left: 1em;
}

#add-task {
  float: right;
  margin: 7px;
}

#edit-task {
  display: none;
}

.input-prepend .parsley-error-list {
  font-size: 12px;
}

h4 {
  padding-left: 0.5em;
}

#container {
  height: 100%;
}

#task-detail {
  border-left: 1px solid #ccc;
  padding: 1em;
  height: 100%; 
}

