body,html{
  height:100%;
}

.todo-check {
  width: 2em;
}

#new-task {
  min-height: 0;
}

#new-task .control-label {
  width: 8em;
}

#new-task .controls {
  margin-left: 10em;
}

#new-task legend {
  padding-left: 1em;
}

#add-task {
  margin: 5px;
}

#new-task-form {
  display:none;
}

#edit-task {
  display: none;
}

.input-prepend .parsley-error-list {
  font-size: 12px;
}