body,html{
  height:100%;
}

.todo-check {
  width: 2em;
}

.new-task-form .control-label {
  width: 8em;
}

.new-task-form .controls {
  margin-left: 10em;
}

.new-task-form legend {
  padding-left: 1em;
}

.new-task-form {
  display: none;
}

.task-list {
  margin-left: 0px;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#edit-task {
  display: none;
}
