<fieldset>
  <legend>New Task</legend>
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" class="input-xxlarge parsley-validated"
	     placeholder="type your task name..." data-notblank="true" data-required="true"
	     data-trigger="change">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
      <textarea rows="3" name="desc" class="input-xxlarge"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" id="submit-task" class="btn btn-small">Submit</button>
      <a href="#" id="new-form-cancel">Cancel</a>
    </div>
  </div>
</fieldset>


